/* 
Narvik (#EAE7DD), Sorrell brown (#99775C) 
font-family: "Playfair Display", serif;


*/

*{
    font-family: "Poppins", sans-serif;
    color: #050708 ;
    
}

/* div{
    background-color: #EAE7DD;
} */

